.PokeFlex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color :blue;
    width: 700px;
    height: 300px;
    overflow: auto;
}

img {
    width: A100pAx;
    height: 80px;
}